In [106]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats as stats

import warnings
warnings.simplefilter("ignore")

In [132]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import DecisionTreeClassifier
from sklearn import set_config
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import PowerTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesClassifier
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RepeatedStratifiedKFold
import xgboost as xgboost
from xgboost import XGBRegressor
from xgboost import XGBClassifier

In [60]:
df=pd.read_csv("Titanic-Dataset.csv")

In [61]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [62]:
##feature encoding

In [63]:
df['Isfemale']=df['Sex'].map({'male':0,'female':1})

In [64]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Isfemale
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [65]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [66]:
df[['embC','embQ','embS']]=pd.get_dummies(df['Embarked'])

In [68]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Isfemale,embC,embQ,embS
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,0,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,0,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1,0,0,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,1,0,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0,1,0

In [69]:
df['IsAgemissing']=df['Age'].isnull()

In [26]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Isfemale,embC,embQ,embS,Isagemissing,IsAgemissing
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,0,1,False,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1,0,0,False,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,0,1,False,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0,1,False,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,0,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,0,0,1,False,False
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,0,0,1,False,False
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1,0,0,1,True,True
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,1,0,0,False,False
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0,1,0,False,False

In [72]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Isfemale,embC,embQ,embS,IsAgemissing
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,0,1,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,1,0,0,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,0,1,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0,1,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,0,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,0,0,1,False
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,0,0,1,False
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1,0,0,1,True
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,1,0,0,False
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0,1,0,False

In [73]:
X=df.drop(columns=['Survived','Name','Sex','Ticket','Cabin','Embarked'])
y=df['Survived']

In [108]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [109]:
X_test

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Isfemale,embC,embQ,embS,IsAgemissing
427,428,2,19.0,0,0,26.0000,1,0,0,1,False
563,564,3,NaN,0,0,8.0500,0,0,0,1,True
680,681,3,NaN,0,0,8.1375,1,0,1,0,True
243,244,3,22.0,0,0,7.1250,0,0,0,1,False
423,424,3,28.0,1,1,14.4000,1,0,0,1,False
...,...,...,...,...,...,...,...,...,...,...,...
494,495,3,21.0,0,0,8.0500,0,0,0,1,False
292,293,2,36.0,0,0,12.8750,0,1,0,0,False
733,734,2,23.0,0,0,13.0000,0,0,0,1,False
607,608,1,27.0,0,0,30.5000,0,0,0,1,False
322,323,2,30.0,0,0,12.3500,1,0,1,0,False

In [110]:
imputer=SimpleImputer(
    strategy='mean')

In [111]:
scaler=StandardScaler()

In [112]:
X_train, X_test, y_train, y_test

(     PassengerId  Pclass   Age  SibSp  Parch     Fare  Isfemale  embC  embQ  \
 480          481       3   9.0      5      2  46.9000         0     0     0
 583          584       1  36.0      0      0  40.1250         0     1     0
 263          264       1  40.0      0      0   0.0000         0     0     0
 411          412       3   NaN      0      0   6.8583         0     0     1
 600          601       2  24.0      2      1  27.0000         1     0     0
 ..           ...     ...   ...    ...    ...      ...       ...   ...   ...
 365          366       3  30.0      0      0   7.2500         0     0     0
 559          560       3  36.0      1      0  17.4000         1     0     0
 508          509       3  28.0      0      0  22.5250         0     0     0
 157          158       3  30.0      0      0   8.0500         0     0     0
 491          492       3  21.0      0      0   7.2500         0     0     0

      embS  IsAgemissing
 480     1         False
 583     0         False
 263     1         False
 411     0          True
 600     1         False
 ..    ...           ...
 365     1         False
 559     1         False
 508     1         False
 157     1         False
 491     1         False

 [668 rows x 11 columns],
      PassengerId  Pclass   Age  SibSp  Parch     Fare  Isfemale  embC  embQ  \
 427          428       2  19.0      0      0  26.0000         1     0     0
 563          564       3   NaN      0      0   8.0500         0     0     0
 680          681       3   NaN      0      0   8.1375         1     0     1
 243          244       3  22.0      0      0   7.1250         0     0     0
 423          424       3  28.0      1      1  14.4000         1     0     0
 ..           ...     ...   ...    ...    ...      ...       ...   ...   ...
 494          495       3  21.0      0      0   8.0500         0     0     0
 292          293       2  36.0      0      0  12.8750         0     1     0
 733          734       2  23.0      0      0  13.0000         0     0     0
 607          608       1  27.0      0      0  30.5000         0     0     0
 322          323       2  30.0      0      0  12.3500         1     0     1

      embS  IsAgemissing
 427     1         False
 563     1          True
 680     0          True
 243     1         False
 423     1         False
 ..    ...           ...
 494     1         False
 292     0         False
 733     1         False
 607     1         False
 322     0         False

 [223 rows x 11 columns],
 480    0
 583    0
 263    0
 411    0
 600    1
       ..
 365    0
 559    1
 508    0
 157    0
 491    0
 Name: Survived, Length: 668, dtype: int64,
 427    1
 563    0
 680    0
 243    0
 423    0
       ..
 494    0
 292    0
 733    0
 607    1
 322    1
 Name: Survived, Length: 223, dtype: int64)

In [113]:
X_train['Age']=imputer.fit_transform(X_train[['Age']])
X_train[['Age','Fare']]=scaler.fit_transform(X_train[['Age','Fare']])

In [114]:
X_test

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Isfemale,embC,embQ,embS,IsAgemissing
427,428,2,19.0,0,0,26.0000,1,0,0,1,False
563,564,3,NaN,0,0,8.0500,0,0,0,1,True
680,681,3,NaN,0,0,8.1375,1,0,1,0,True
243,244,3,22.0,0,0,7.1250,0,0,0,1,False
423,424,3,28.0,1,1,14.4000,1,0,0,1,False
...,...,...,...,...,...,...,...,...,...,...,...
494,495,3,21.0,0,0,8.0500,0,0,0,1,False
292,293,2,36.0,0,0,12.8750,0,1,0,0,False
733,734,2,23.0,0,0,13.0000,0,0,0,1,False
607,608,1,27.0,0,0,30.5000,0,0,0,1,False
322,323,2,30.0,0,0,12.3500,1,0,1,0,False

In [115]:
X_test['Age']=imputer.transform(X_test[['Age']])
X_test[['Age','Fare']]=scaler.transform(X_test[['Age','Fare']])

In [116]:
model1=LogisticRegression()
model1.fit(X_train,y_train)

LogisticRegression()

In [117]:
y_pred1=model1.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred1)

0.7757847533632287

In [118]:
cv=RepeatedStratifiedKFold( n_splits=10, n_repeats=5)
cross_val_score(model1,X_train,y_train,cv=cv,scoring='accuracy').mean()

0.8141112618724559

In [98]:
print(confusion_matrix(y_test,y_pred1))
print(accuracy_score(y_test,y_pred1))
print(classification_report(y_test,y_pred1))

[[123  20]
 [ 22  58]]
0.8116591928251121
              precision    recall  f1-score   support

           0       0.85      0.86      0.85       143
           1       0.74      0.72      0.73        80

    accuracy                           0.81       223
   macro avg       0.80      0.79      0.79       223
weighted avg       0.81      0.81      0.81       223

In [119]:
model=KNeighborsClassifier(n_neighbors=3,weights="uniform")
model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [120]:
y_pred=model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.515695067264574

In [121]:
cross_val_score(model,X_train,y_train,cv=5,scoring='accuracy').mean()

0.5839299741892043

In [122]:
print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[86 44]
 [64 29]]
0.515695067264574
              precision    recall  f1-score   support

           0       0.57      0.66      0.61       130
           1       0.40      0.31      0.35        93

    accuracy                           0.52       223
   macro avg       0.49      0.49      0.48       223
weighted avg       0.50      0.52      0.50       223

In [123]:
model2=RandomForestClassifier()
model2.fit(X_train,y_train)

RandomForestClassifier()

In [124]:
y_pred2=model2.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred2)

0.7892376681614349

In [125]:
print(confusion_matrix(y_test,y_pred2))
print(accuracy_score(y_test,y_pred2))
print(classification_report(y_test,y_pred2))

[[108  22]
 [ 25  68]]
0.7892376681614349
              precision    recall  f1-score   support

           0       0.81      0.83      0.82       130
           1       0.76      0.73      0.74        93

    accuracy                           0.79       223
   macro avg       0.78      0.78      0.78       223
weighted avg       0.79      0.79      0.79       223

In [133]:
model3 =XGBClassifier()
model3.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_bin=256, max_cat_threshold=64, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0, ...)

In [134]:
y_pred3=model2.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred3)

0.7892376681614349

In [135]:
print(confusion_matrix(y_test,y_pred3))
print(accuracy_score(y_test,y_pred3))
print(classification_report(y_test,y_pred3))

[[108  22]
 [ 25  68]]
0.7892376681614349
              precision    recall  f1-score   support

           0       0.81      0.83      0.82       130
           1       0.76      0.73      0.74        93

    accuracy                           0.79       223
   macro avg       0.78      0.78      0.78       223
weighted avg       0.79      0.79      0.79       223